<nav role="navigation">
  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 no-padding-top">
    <div class="row">
      <div class="column width-12">
        <ul>
          {{#next_post}}
            <li>
              <a class="older-posts pagination-next icon-right-open" href="{{url}}">
                &larr;
              </a>
            </li>
            {{else}}
            <li></li>
          {{/next_post}}
          
          {{#prev_post}}
            <li>
              <a class="newer-posts pagination-previous icon-left-open" href="{{url}}">
                &rarr;
              </a>
            </li>
            {{else}}
            <li></li>
          {{/prev_post}}
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
</nav>
