<!-- Intro Title Section 2 -->
<div class="section-block intro-title-1 small bkg-grey-ultralight"
  {{#if @blog.cover_image}}
    style="background-image: url({{@blog.cover_image}})"
  {{/if}}
>
  <div class="row">
    <div class="column width-12">
      <div class="title-container">
        <div class="title-container-inner">
          <h1 class="inline color-white" style="text-shadow: 1px 1px #4A4A4A">{{@blog.title}}</h1>
          <ul class="breadcrumb">
            <li class="color-white" style="text-shadow: 1px 1px #4A4A4A">
              {{@blog.description}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Intro Title Section 2 End -->
			
